site_name: ExStruct
theme:
  name: material
nav:
  - Home: index.md
  - API Reference: api.md
  - Read Me (EN): README.en.md
  - Read Me (JA): README.ja.md
markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - tables
